appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
contextlib2==21.6.0
distlib==0.3.2
execnet==1.9.0
filelock==3.0.12
get-geckodriver==0.2.1
iniconfig==1.1.1
mock==4.0.3
packaging==21.0
path==16.0.0
path.py==12.5.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-fixture-config==1.7.0
pytest-rerunfailures==10.1
pytest-shutil==1.7.0
pytest-virtualenv==1.7.0
selenium==3.141.0
six==1.16.0
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.6
virtualenv==20.4.7
